
body {
	overflow:hidden; /** hides any scroll bar on the page **/
}


#divMain { 
	position:absolute;
    background-color:#fff;
    left: 0;
    right: 0;
    top:   0;
    bottom:10px; 
    overflow:auto;
}


#divProgressBar {
    position:absolute;
    background-color:#333;
    left:0;
    right:0;
    height:10px; 
    bottom:0;    
}

#divProgressBarTongue {
	background-color:#666;
	height:100%;
}


#divResult {
    position:absolute;
    border-bottom:2px solid #333;
    border-left:2px solid #333;
    border-right:2px solid #333;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    background-color:#393;
    color:#000;
    padding:0 2px;
    margin:0 40px; 
    right:20%;
    left:20%;
    top:0; 
    min-width:200px;  
    line-height:36px; 
    vertical-align:middle;
    z-index:1;
    overflow:hidden;
    text-align:center;
}

a {
	color:white;
	text-decoration:none; 
}

#divResult div { /** done with errors **/
	text-align:left;
	border-top: 2px dashed #333; 
}



table {
	border-collapse: collapse;
	font-family: monospace;
	width:100%; /** required for highlighting a row  */
}

td {
	vertical-align: top;
	white-space: pre;
	padding: 2px;
}

/** span added to the instruction to display the interim result of an operation **/
.spanInterimResult {
	padding:1px 2px;
	font-style:italic;
	font-size:10px;
	font-weight:bold;
	color:orange;
	background-color:#f2f2f2;
	border:1px solid #ddd
}

/* 
LN: Line Number
CM: Comment
CM2: Comment's sibling
*/


.LN {
	width: 40px;
	text-align: right;
	background-color: #eee;
	-webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

.CM {
	width: 40px;
	text-align: right;
	background-color: #eee;
	-webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

.CM2 {
	color: green;
}



/* The data-LN attributes is used to store the line number (LN) of the code */
.LN:before  { content: attr(data-LN); }
.CM:before  { content: attr(data-LN); }

