
body {
	background-color:white;
}


a { 
  text-decoration:none;
}



/* used by the menu */

#divMenu {
	white-space: nowrap;            
	background-color: #000;
	height:70px; 
}

.menuAnchor {
	color:white;
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px 10px 5px;
	vertical-align:middle; 
}

.selMenuAnchor {
	color:orange;
	display: inline-block;
	xtext-decoration: underline;
	padding: 10px 20px 10px 5px;
	vertical-align:middle;
}

/** only used in index.html **/
#divFooter {
	border-top:1px solid #333;
	background-color:#000;
	color:#fff;
	font-size:11px;
	font-weight:bold;
	padding:0 4%;
	height:70px;
	line-height:70px;
}

#divFooter a {
	color:white; 
}


/* ONLY USED BY THE DOCUMENTATION when writing snippets of code **/
.doc-code-excerpt {
  	border:1px solid #aaa;
  	padding:3px 4px;
  	background-color:#ddd;
  }
  
/** only used by the various pages index.html, snippets.html, etc **/
.main-content {
	line-height: 1.5;
	margin:60px 4%;
	width:92%;
}  
